.btn {
    padding: 15px 31px 16px;
    border: none;
    border-radius: 6px;
    background-color: $btn-color;
    color: $main-color;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}